* {
    padding: 0;
    margin: 0;
}

input {
    height: 80px;
    width: 70%;
    border-radius: 10px;
}

.Box {
    background-color: yellow;
    height: 100px;
    width: 50px;
}

.sack {
    background-color: tomato;
    height: 100px;
    width: 50px;
}