* {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-user-drag: none;
    -webkit-app-region: none;
}

#background {
    background-color: #062863;
    height: 100vh;
    color: white;
    width: 100%;
}

.fort {
    margin: auto 0;
    justify-content: center;
    background-color: white;
    height: 50vh;
    width: 65vh;
    border-radius: 25px 25px 25px 0;
}

.fort-header {
    display: block;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 15px 30px;

}