*h1{
    font-weight: 900;
}

.lock {
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.lock-left {
    text-align: justify;
   flex: 4;
   margin-left: 50px;
}

.lock-right {
  flex: 6;
}

.lock-right > img {
    height: 550px;
    width: 250px;
    z-index: 1;
}

#avoid {
    padding: 15px;
    color: white;
    border-radius: 10px;
    border: none; 
   background-color: #0d60d8;
}

.disciplined {
    margin: 150px 30px 0px 30px;
}

.disciplined-center {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.disciplined-map {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width:auto;
    height:auto;
}

.disciplined-design {
    padding: 30px;
    border-radius:5px;
    margin-left: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: rgb(245, 246, 255);
    width:auto;
    height:auto;  
}
.different {
    padding-top: 40px;
}

.temptation {
    margin-top: 100px;
    background-color:#2295f2;
    color: white;
    width: 100%; 
    height: 300px;
}

.temptation > h1 {
    width: 60%;
    margin: 0 auto;
    color: white;
    padding-top: 50px;
    margin-bottom: 60px;
}

.temptation > p {
    width: 50%;
    font-weight: 600;
    margin: 0 auto;
    color: white;
}