#invest-go {
    color: black;
    font-size: 50px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;

}

.invest-butt {
    width: 210px;
    height: 65px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #7913E5;
    font-weight: bold;
}

#telephone {
    height: 95vh;
    width: 300px;
}

#semin {
    display: block;
}

#tele {
    height: 30vh;
    width: 45%;
}

#inv {
    align-items: center;
    margin: 0 auto;
}

#invest {
    font-family: 'DM Sans', sans-serif;
    margin-right: 50px;
    display: block;
}

#investment {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.Time {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 150px;
}

#sip {
    font-size: 60px;
}

/* responsiveness */
@media screen and (min-width:1000px) {
    #cart {
        display: block;
    }

    #tele {
        height: 20vh;
        width: 25%;
    }

    #sem {
        display: flex;
    }

    #divs {
        display: block;
        justify-content: space-around;
        /* margin-top: 100px; */
    }

}

/* responsiveness ends */

#up1 {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-top: 40px;
}

#divs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

#up {
    text-align: start;
    background-color: rgba(248, 248, 244, 0.979);
    border-radius: 15px;
    height: 300px;
    width: 400px;
    font-family: 'DM Sans', sans-serif;
}

#up3 {
    text-align: justify;
    margin-left: 30px;
    font-size: 20px;
}

#up2 {
    text-align: left;
    margin-left: 30px;
    font-size: 27px;
    font-weight: bold;
    color: black;
}

#cent {
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 100px;
}

.Royal {
    margin-top: 100px;
    background-color: #7913E5;
    color: white;
    width: 100%;
    height: 400px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
}

#Royal-text {
    text-align: justify;
}

.Royal>h1 {
    width: 60%;
    color: white;
    padding-top: 50px;
    margin-bottom: 50px;
}

.Royal>p {
    width: 50%;
    font-weight: 600;
    color: white;
}

#Royal-img {
    height: 100%;
    width: 45%;
    margin-right: -98px;
}

/* 

 #Deck {
    display: block;
}

#DeckA {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#DeckB {
    display: flex;
    justify-content: space-around;
    width: 100%;
} 

#card-img {
    height: 100px;
    width: 300px;
} */

#top-img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40%;
    border-radius: 0;
    border-radius: 20px 20px 0 0;
}

#Book {
    height: 400px;
    width: 360px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#Book:hover {
    box-shadow: 3px 3px 3px 3px rgb(194, 189, 189);
}

#cad {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: left;
}

#roww {
    display: flex;
    justify-content: space-around;
}

#roww1 {
    margin-top: 30px;
    margin-right: 40px;
}

#rowww {
    display: flex;
    justify-content: space-around;
}

#rowww1 {
    font-size: 18px;
    margin-top: -20px;
    font-weight: 80;
}

/* .text {
    font-weight: bolder;
    font-size: 20px;
    justify-content: space-evenly;
    text-align: left;
} */